.page-footer {
    background-color: black;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @media screen and (width <= 768px) {
        grid-template-columns: 100%;
    }
    & > .nav-options{
        &>h3{
            margin-block-end: 10px;
        }
        & > .sub-options{
            list-style: none;
            & > .option{
                margin-block-end: 10px;
                &>a{
                    text-decoration: none;
                }
            }
        }
    }
}